.b-image {
    width: 100%;
    height: 100%;
}
.b-image-div {
    position:absolute;
    margin-top: 80px;
    left: 0;
    width: 100%;
}

.cover-container {
    max-width: 56em;
}

#tips {
    margin-top: 600px;
}

.card-body {
    text-align: left!important;
}

.card-tip {
    min-height: 338px;
    border: 0px solid rgba(0,0,0,.125);
}

.mastfoot {
    margin-top: 40px!important;
}

.card-text {
    min-height: 100px;
}

.card-img-top {
    width: 100%;
    height: 150px;
}

.case-image {
    width: 100%;
}

.mastfoot .inner{
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}